# Odin build artifacts
*.bin
*.exe
*.dll
*.so
*.dylib
mix_motor

# Debug files
*.pdb
*.dSYM/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Build directories
build/
bin/
obj/

# Temporary files
*.tmp
*.temp
*.log

# old resorces
old_flixel/
old_flixel_examples/
flixel/SOUND_USAGE.md
flixel/STATE_SETUP_GUIDE.md
ols.json
